<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
    <div class="faq-container">
    <h1>FAQ</h1>
    <div class="faq-item">
        <h2 class="faq-title">What is an AI director, why not Prompt engineering or AI artist?</h2>
        <div class="faq-content">
            <p>We believe that using AI tools is similar to being a movie director. Similar to how a director communicates their vision and objectives to their team, AI tools help create images or perform tasks based on the instructions you provide.</p>
            <p>Please watch how film director Quentin Tarantino explains the role of a director in a movie. In both cases, it's about expressing a vision and having others execute it, whether in the world of filmmaking or in the process of generating images using AI.</p>
        </div>
    </div>
    <div class="faq-item">
        <h2 class="faq-title">What are Series?</h2>
        <div class="faq-content">
            <p>Content for "What are Series?" goes here.</p>
        </div>
    </div>
</div>
    
</body>
</html>